%h1= author.full_name
%img.portrait{ src: author.portrait }
%p
  = link_to("Wikipedia Page", author.wikipage) if author.wikipage
- works_cited(references)

%section.comments
  %ul
    - author.comments.each do |c|
      %li= c.content
