%article.syllabus
  = render course

  %section.course_program
    %h1 Course Program
    - if meetings.size > 0 && meetings.first.section == nil
      = render meetings.first
    - if sections.size > 0
      = render sections
    - else
      = render meetings
