%section.bibliography
  = form_tag references_path, method: :get do
    %p
      = text_field_tag :query, params[:query]
      = submit_tag "Search", name: nil
  - if params[:query] && params[:query] != "" 
    - works_cited(reference_search)
  -else
    - works_cited(references)  
